@using System.Configuration
@{
    ViewBag.Title = "Theme Selection";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Choose
            </div>
            <div class="panel-body text-center">
                @using (Html.BeginForm("SaveTheme", "Settings", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <select class="form-control" id="bootstrapTheme" name="bootstrapTheme">
                            @foreach (var theme in Directory.GetFiles(Server.MapPath("~/Content/")).Where(x => x.Contains("bootstrap.") && x.EndsWith(".css") && !x.Contains(".min.")).Select(x => new FileInfo(x)))
                            {
                                <option value="@theme.Name" @Html.Raw(theme.Name == ConfigurationManager.AppSettings["bootstrapTheme"] ? "selected" : string.Empty)>@theme.Name</option>
                            }
                        </select>
                    </div>
                    <input type="submit" value="Save" onclick="javascript: $(this).prop('disabled', true).text('Saving'); document.forms[0].submit();" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>